* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
  box-sizing: border-box;
}

img {
  border-color: #51656d;
  border-style: groove;
}

h1 {
  color: #ec7fec75;
  text-transform: full-width;
}

h2 {
  color: grey;
}

h3 {
  color: rgba(48, 47, 38, 0.897);
  text-decoration: underline;
}

#recipes {
  font-weight: bold;
  border: 1px solid rgb(206, 183, 183);
  padding: 4px;
}

div {
  border: 1px dotted rgb(206, 183, 183);
  padding: 4px;
  margin: 4px;
  width: 650px;
  height: 0 auto;
}